<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_2022_09_04_database_link_new.Properties.Settings.Bank2ConnectionString"
            connectionString="Data Source=DESKTOP-0UJVAR6;Initial Catalog=Bank2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>